@page "/"

<PageTitle>PäronAB</PageTitle>


<div class="main-container">
    <h1>Welcome to Your Warehouse Management System!</h1>
    <p>Streamlining your inventory management with ease and precision.</p>
</div>
